$police1: sans-serif;

.img {
    &_1 {
        height: 50px;
    }
    &_2 {
        height: 100px;
    }
    &_3 {
        width: 200px;
        height: 200px;
    }
}
a {
    text-decoration: none;
}
.text1 {
    text-align: justify;
}
.image {
    &_1 {
        height: 100%;
    }
    &_2 {
        height: 300px;
    }
    &_product {
        height: 500px;
    }
}
.image1 {
    height: 100px;
}