$color_nav: rgb(127,175,79);
$color_text: rgb(70,54,41);

nav {
    background: $color_nav;
    color: $color_text;
}
// boutton scroll
#scroll_to_top {
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 50px;
    right: 30px;

    & img {
        width: 25px;
    }
}
.prod {
    width: 300px;
    height: 300px;
    // background: $color_nav;
}
.button {
    width: 50px;
    height: 50px;
}
footer {
    background: $color_nav;
}
.resaeux {
    width: 30px;
}
.mail {
    width: 50px;
}
.facebook {
    width: 460px;
    height: 400px;
}
.text3 {
    margin-top: -12rem;
}
.text4 {
    margin-bottom: 4rem;
}
.entre {
    width: 100%;
}
.text1 {
    margin-top: -40rem;
    margin-left: 80em;
}
.text2 {
    margin-top: 30rem;
    margin-bottom: 10px;
}
.img1 {
    width: 100%;
    height: 80%;
}
.img2 {
    width: 300px;
    height: 200px;
}
.image-fons {
    width: 500px;
    height: 375px;
}
.image-product {
    height: 500px;
}
a {
    text-decoration: none;
}
.produit {
    width: 300px;
    height: 400px;
    padding-bottom: 4rem;
}

// couleur & taille de text

.colorfond {
    &_marron {
        background-color: rgb(121,94,70);
        color: white;
    }
    &_jaune {
        background-color: rgb(232,229,79);
    }
    &_vert {
       background-color: rgb(127,175,79); 
    }
}
.colortext {
    &_white {
        color: white;
    }
    &_jaune {
        color: rgb(232,229,79);
    }
}
.text {
    &_1 {
        line-height: 0.8rem;
    }
}